# Python cache
__pycache__/
*.py[cod]

# Virtual env
.venv/
.venv_wsl/

# pytest
.pytest_cache/

# Logs
*.log

# Generated artifacts (created by CLI runs)
cache/
outputs/
figures/

# OS / editor
.DS_Store
.vscode/
